services:
  backend:
    build:
      context: .
    container_name: securecodeauditor-backend-dev
    env_file:
      - .env
    environment:
      APP_ENV: development
    ports:
      - "8000:8000"
    volumes:
      - .:/app   
    command: >
      uvicorn main:app
      --host 0.0.0.0
      --port 8000
      --reload
    restart: unless-stopped